# Xray Cloud
XRAY_BASE_URL=https://eu.xray.cloud.getxray.app
XRAY_CLIENT_ID=your_xray_client_id
XRAY_CLIENT_SECRET=your_xray_client_secret

# OpenProject
OPENPROJECT_URL=http://myinstance-openproject.internal.de
OPENPROJECT_API_TOKEN=your_openproject_api_token
OPENPROJECT_AUTH_MODE=bearer
OPENPROJECT_USERNAME=apikey

# OpenProject Test Step field mapping
OPENPROJECT_STEP_DESCRIPTION_LABEL=Test Step Description
OPENPROJECT_STEP_DATA_LABEL=Test Step Data
OPENPROJECT_STEP_EXPECTED_LABEL=Test Step Expected
OPENPROJECT_STEP_RESULT_LABEL=Test Step Result
